/* HEADER */

body {
  font-family: 'Merienda', cursive;
  margin: 0;
  padding: 0;
}

.blog-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.lower-text {
  font-size: 20px;
  margin: 5% 0%;
}

.header-container {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.login-container {
  background-color: #fff;
  width: 400px;
  height: 300px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 10px -1px rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.04), 0 1px 0 rgba(0,0,0,0.04);
  text-align: center;
}

.welcome-text {
  margin: 10% 0%;
  font-size: 36px;
}

.home-button {
  margin: 5% 5%;
  width: 30%;
  height: 10%;
  font-size: 16px;
  cursor: pointer;
}

/* REGISTRATION / LOGIN */

.registration-input {
  width: 50%;
  margin: 2%;
}

.confirmation {
  margin: 5px;
}


.registration-submit {
  width: 30%;
  margin: 5%;
}

/* HOME PAGE */

.home-container {
  width: 100%;
  height: 100vh;
  background-color: #fafafae0;
}

.home-post-title {
  font-size: 64px;
  text-align: center;
  padding: 2% 0%;
}

.button-container {
  margin: 25px 500px;
}

.home-page-buttons {
  margin: 0% 10px;
  width: 400px;
  height: 40px;
  font-size: 16px;
}